name: Deploy docs

on:
  push:
    branches: [master]
    paths:
      - "docs/**"
      - "mkdocs.yml"

concurrency:
  group: deploy-docs
  cancel-in-progress: false

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: paolino/dev-assets/setup-nix@v0.0.1
        with:
          cachix-auth-token: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - run: nix develop github:paolino/dev-assets?dir=mkdocs --quiet -c mkdocs gh-deploy --force
